---
- name: Create Prometheus system group
  group:
    name: "{{ monitoring_group }}"
    system: yes
    state: present

- name: Create Prometheus system user
  user:
    name: "{{ monitoring_user }}"
    system: yes
    shell: /usr/sbin/nologin
    group: "{{ monitoring_group }}"
    createhome: no

- name: Create Prometheus directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
    mode: '0755'
  loop:
    - "{{ prometheus_storage_path }}"
    - /etc/prometheus
    - /etc/prometheus/rules
    - /etc/prometheus/file_sd

- name: Download Prometheus
  get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    dest: /tmp/prometheus.tar.gz
    mode: '0644'

- name: Extract Prometheus
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp/
    remote_src: yes

- name: Copy Prometheus binaries
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Copy Prometheus console files
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "/etc/prometheus/{{ item }}"
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
    remote_src: yes
  loop:
    - consoles
    - console_libraries

- name: Create Prometheus configuration
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: "{{ monitoring_user }}"
    group: "{{ monitoring_group }}"
    mode: '0644'
  notify: restart prometheus

- name: Create Prometheus systemd service
  template:
    src: prometheus.service.j2
    dest: /etc/systemd/system/prometheus.service
    mode: '0644'
  notify:
    - reload systemd
    - restart prometheus

- name: Enable and start Prometheus service
  systemd:
    name: prometheus
    enabled: yes
    state: started
    daemon_reload: yes

- name: Wait for Prometheus to start
  wait_for:
    port: "{{ prometheus_port }}"
    delay: 5
    timeout: 30
