apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-api
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: order-api
  template:
    metadata:
      labels:
        app: order-api
    spec:
      containers:
        - name: order-api
          image: rg.fr-par.scw.cloud/registry-goodfood/order-api:dev
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: http
            - containerPort: 8080
              name: websocket
          resources:
            requests:
              memory: "64Mi"
              cpu: "1000m"
            limits:
              memory: "128Mi"
              cpu: "2000m"