apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentification-api
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: authentification-api
  template:
    metadata:
      labels:
        app: authentification-api
    spec:
      containers:
        - name: authentification-api
          image: rg.fr-par.scw.cloud/registry-goodfood/authentification-api:dev
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: RABBITMQ_URL
              value: amqp://guest:guest@rabbitmq:5672/
          envFrom:
            - configMapRef:
                name: db-secret-credentials
          resources:
            requests:
              memory: "64Mi"
              cpu: "1000m"
            limits:
              memory: "128Mi"
              cpu: "2000m"
