apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentification-api
spec:
  revisionHistoryLimit: 1
  replicas: 1
  template:
    spec:
      containers:
        - name: authentification-api
          image: rg.fr-par.scw.cloud/registry-goodfood/authentification-api:dev
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "64Mi"
              cpu: "1000m"
