apiVersion: v1
kind: Service
metadata:
  name: authentification-api
spec:
  selector:
      app: authentification-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP