apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - ingress.yaml
  # - argocd-cmd-params-cm.yaml

patches:
  - target:
      kind: Service
      name: argocd-metrics
    path: argocd-metrics-patch.yaml
