- name: Load config for this environment
  set_fact:
    cfg: "{{ minio_config[minio_env] }}"

- name: Create MinIO data directory
  file:
    path: "{{ cfg.minio_data }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Download MinIO binary
  get_url:
    url: https://dl.min.io/server/minio/release/linux-amd64/minio
    dest: /usr/local/bin/minio
    mode: '0755'

- name: Create MinIO systemd service
  template:
    src: minio.service.j2
    dest: "/etc/systemd/system/minio-{{ minio_env }}.service"

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Ensure MinIO is started and enabled
  systemd:
    name: "minio-{{ minio_env }}"
    enabled: yes
    state: restarted

# Install mc
- name: Download mc tool
  get_url:
    url: https://dl.min.io/client/mc/release/linux-amd64/mc
    dest: /usr/local/bin/mc
    mode: '0755'

- name: Wait for MinIO to respond
  uri:
    url: "http://127.0.0.1:{{ cfg.minio_port }}/minio/health/ready"
    method: GET
    return_content: no
  register: minio_ready
  retries: 10
  delay: 3
  until: minio_ready.status == 200

# Create buckets
- name: Configure mc alias
  shell: |
    mc alias set {{ minio_env }} http://127.0.0.1:{{ cfg.minio_port }} {{ cfg.minio_user }} {{ cfg.minio_password }}
  changed_when: false
  no_log: true  # Pour ne pas afficher les credentials dans les logs

- name: Create buckets
  shell: >
    mc mb {{ minio_env }}/{{ item }} --ignore-existing
  loop: "{{ cfg.buckets }}"
  register: bucket_creation
  changed_when: "'Bucket created successfully' in bucket_creation.stdout"
  failed_when: 
    - bucket_creation.rc != 0
    - "'already exists' not in bucket_creation.stderr"
