apiVersion: v1
kind: ConfigMap
metadata:
  name: tyk-gateway-config
  namespace: default
data:
  tyk.conf: |
    {
      "listen_port": 8080,
      "secret": "352d20ee67be67f6340b4c0605b044b7",
      "template_path": "/opt/tyk-gateway/templates",
      "use_db_app_configs": false,
      "app_path": "/opt/tyk-gateway/apps/",
      "storage": {
        "type": "redis",
        "host": "redis",
        "port": 6379,
        "database": 0
      },
      "enable_analytics": false,
      "health_check": {
        "enable_health_checks": true,
        "health_check_value_timeouts": 60
      }
    }
