apiVersion: v1
kind: ConfigMap
metadata:
  name: tyk-gateway-config
  namespace: preprod
data:
  tyk.conf: |
    {
      "listen_port": 8080,
      "secret": "352d20ee67be67f6340b4c0605b044b7",
      "template_path": "/opt/tyk-gateway/templates",
      "use_db_app_configs": false,
      "app_path": "/opt/tyk-gateway/apps/",
      "storage": {
        "type": "redis",
        "host": "redis",
        "port": 6379,
        "database": 0
      },
      "enable_analytics": true,
      "health_check": {
        "enable_health_checks": true,
        "health_check_value_timeouts": 60
      },
      "statsd_connection_string": "",
      "statsd_prefix": "tyk",
      "enable_detailed_recording": true,
      "http_server_options": {
        "enable_websockets": true,
        "use_ssl": false,
        "server_name": "*",
        "min_version": 771,
        "flush_interval": 0
      },
      "enable_bundle_downloader": false,
    }