apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentification-api
spec:
  template:
    metadata:
      labels:
        app: authentification-api
    spec:
      containers:
        - name: authentification-api
          envFrom:
          - secretRef:
              name: authentification-api-env
          - secretRef:
              name: rabbitmq-credentials