apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentification-api
spec:
  template:
    spec:
      containers:
        - name: authentification-api
          envFrom:
          - configMapRef:
              name: db-secret-credentials
          - secretRef:
              name: authentification-api-env
          - secretRef:
              name: rabbitmq-credentials
