apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
spec:
  template:
    spec:
      # initContainers:
      # - name: run-migrations
      #   env:

      #   # DATABASE
      #   - name: DB_HOST
      #     valueFrom:
      #       secretKeyRef:
      #         name: auth-db-secret
      #         key: db_host

      #   - name: DB_PORT
      #     valueFrom:
      #       secretKeyRef:
      #         name: auth-db-secret
      #         key: db_port

      #   - name: POSTGRES_DB
      #     valueFrom:
      #       secretKeyRef:
      #         name: auth-db-secret
      #         key: postgres_db

      #   - name: POSTGRES_USER
      #     valueFrom:
      #       secretKeyRef:
      #         name: auth-db-secret
      #         key: postgres_user

      #   - name: POSTGRES_PASSWORD
      #     valueFrom:
      #       secretKeyRef:
      #         name: auth-db-secret
      #         key: postgres_password

      #   - name: DATABASE_url
      #     value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(POSTGRES_DB)"

      containers:
      - name: authentification-api
        env:

        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

        # DATABASE
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: auth-db-secret
              key: db_host

        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: auth-db-secret
              key: db_port

        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: auth-db-secret
              key: postgres_db

        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: auth-db-secret
              key: postgres_user

        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: auth-db-secret
              key: postgres_password
        
        - name: DATABASE_url
          value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(DB_HOST):$(DB_PORT)/$(POSTGRES_DB)"


        # RabbitMQ
        - name: RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: rabbitmq-credentials-secret
              key: username

        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq-credentials
              key: password

        - name: RABBITMQ_URL
          value: "amqp://$(RABBITMQ_USERNAME):$(RABBITMQ_PASSWORD)@rabbitmq.$(NAMESPACE).svc.cluster.local:5672"
        
        # Auth
        - name: BETTER_AUTH_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secrets-secret
              key: better_auth_secret
        
        
        # Config (unused)
        - name: ALLOWED_ORIGINS
          value: "*"
        - name: PORT
          value: "3000"



